.backButton {
    padding-left: 10px;
    margin-left: 10px; 
}
.mobieLists {
    margin-top: 20px;
}
.deleteButton {
    padding: 2px 6px;
    margin-left: 20px;
    float: right;
}
.container {
    margin-top: 50px;
}
.addMovie {
    float: left;
    margin-right: 30%;
}